<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commodity_type.name %>
</p>

<%= link_to 'Edit', edit_commodity_type_path(@commodity_type) %> |
<%= link_to 'Back', commodity_types_path %>
